body{
  margin: 0;
  background-color: rgba(0, 0, 0, 0.799);
}

header {
  height: 75px;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.links{
  width: 400px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

a{
  color: green;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 600;
  transition: all, 0.25s;
}

a:hover{
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  margin: auto;
  text-align: center;
}

main{
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.jokes-list{
  display: flex;
  
}

.getJoke{
  background-color: rgb(18, 94, 18);
  border: none;
  color: white;
  padding: 8px;
  border-radius: 12px;
  cursor: pointer;
  margin: 10px;
}